$brand-primary:     #F2EBBF;
$accent-dark:       #5C4B51;
$accent-calm:       #8CBEB2;
$accent-cheerful:   #F3B562;
$accent-fiery:      #F06060;
$white:             #FFFFFF;
$black:             #000000;

$color-light-gray:  lighten($black, 50%);