<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Playground!</title>
</head>
<body>
    <div id="app">
        <%- renderer -%>
    </div>
    <script src="/js/compiled.js"></script>
</body>
</html>